<!-- Create your setlist title here -->
<div class="header-cont">
  <div class="header">
    <h1>Welcome to Getlist</h1></div>

    <div class="content">
      <%= render 'form' %>
    </div>

</div>

<footer>By David N. Wood 2017</footer>
