<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>

  <body>
    <h1><%= @setlist.title %></h1>
      <div class="container">
        <ul class="list">
        </ul>
      </div>
      <form id="songForm">
        Song title: <input id="textInput" type="text" song="song" />
        <button id="addButton">add song</button><br>
      </form>
  </body>
</html>
