// Place all the styles related to the setlist controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
*= require font-awesome
*/

html {
  background-color: #393939;
}

//Header & Content

.header-cont { width: 100%; position: fixed; top: 0px; left: -2px; }

.header {
  padding: 2px;
  height: 80px;
  width: 100%;
  text-align: center;
  font-family: sans-serif;
  background: linear-gradient(#0260A4, #006BB6, #0260A4);
  box-shadow: 0px 1px 5px 0px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  margin: 0px auto;
}

h1 {
  color: white;
  text-shadow: -1.7px 0 black, 0 1.7px black, 1.7px 0 black, 0 -1.7px black;
}

.content {
  text-align: center;
  height: auto;
  margin: 2px auto;
  padding-top: 25px;
  font-family: sans-serif;
  font-size: 17px;
  // box-shadow: 0px 1px 3px 0px;
  // background-color: #EAEAEA;
}


.song-table {
  background-color: #D5D5D5;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  display: relative;
}

.song-title {
  padding-left: 5px;
  padding-right: 15px;
}

.song-duration {
  margin: auto;
  text-align: right;
}

.list {
  padding: 10px;
  margin-top: 40px;
  list-style: none;
  text-align: center;
}

.setlist-label {
  font-size: 20px;
  color: white;
  text-shadow: -1.7px 0 black, 0 1.7px black, 1.7px 0 black, 0 -1.7px black;
}

//SONG INPUT FIELDS


.InputField {
  float: left;
  margin-left: 10px;
  padding: 5px;
  width: 80px;
  height: 20px;
  text-indent: 5px;
  font-size: 13px;
  text-size: 13px;
  border: solid;
  border-width: 2px;
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
  border-color: #494949;
}

.MinInputField {
  float: left;
  // margin: 5px;
  padding: 5px;
  margin-right: -5px;
  width: 34px;
  height: 20px;
  text-indent: 5px;
  font-size: 13px;
  text-size:13px;
  border: solid;
  border-left: 0px;
  border-right: 0px;
  border-width: 2px;
  border-color: #494949;
}

.SecInputField {
  float:left;
  margin-left: -1px;
  padding: 5px;
  width: 40px;
  height: 20px;
  text-indent: 5px;
  font-size: 13px;
  text-size:13px;
  border: solid;
  border-left: 0px;
  border-width: 2px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-color: #494949;
}

.new_song {
  flex-wrap: center;
  align-items: center;
  background-color: #B6B6B6;
  border: solid;
  border-color: #E7E7E7;
  border-style: outset;
  border-top: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-top: -26px;
  margin-bottom: 40px;
  padding-top: 7px;
  padding-bottom: 13px;
}

// BUTTONS - Delete button (.fa) (HOVER) and SUBMIT


//delete-song

.fa {
  background: #D5D5D5;
  border: none;
  opacity: 0.5;
  padding-left: 25px;
}

.fa:hover {
  opacity: 1.0;
  cursor: pointer;
  transform: scale(1.1);
}

.submitButton {
//   padding: 10px 20px 11px !important;
//   font-size: 13px !important;
//   background-color: #DC6ADA;
  font-weight: bold;
//   text-shadow: 1px 1px #DC6ADA;
//   color: #ffffff;
  margin-top: 6px;
  // margin-left: 0px;
  border-radius: 100px;
//   -moz-border-radius: 100px;
//   -webkit-border-radius: 100px;
//   border: 1px solid #DC6ADA;
//   cursor: pointer;
//   box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
//   -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
//   -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}

.create {
  padding: 10px 20px 11px !important;
  font-size: 13px !important;
  background-color: #006BB6;
  font-weight: bold;
  text-shadow: 1px 1px #006BB6;
  color: #ffffff;
  // margin-top: 10px;
  // margin-bottom: 17px;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border: 1px solid #006BB6;
  cursor: pointer;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}

//bottom footer

.footer {
  position: fixed;
  // text-shadow: -1.7px 0 black, 0 1.7px black, 1.7px 0 black, 0 -1.7px black;
  padding-top: 7px;
  border: solid;
  background-color: #B6B6B6;
  border-color: #E7E7E7;
  margin-bottom: -3px;
  bottom: 0;
  text-align: center;
  font-size: 21px;
  width: 100%;
}

.total-duration {
  margin: auto;
  color: white;
  text-shadow: -1.7px 0 black, 0 1.7px black, 1.7px 0 black, 0 -1.7px black;
}

.del-setlist {
  font-size: 14px;
  text-decoration: none;
  margin: auto;
  padding-bottom: 9px;
}

p {
  margin: 6px;
}
